

<section class="homeBanner">

    <section class="centerAligner">

        <article class="half fl introArticle">

            <h1 i18n>Welcome to our API Marketplace</h1>

            <p i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at elementum mauris. Aliquam sem risus, scelerisque ac mattis at, varius quis velit. Proin accumsan arcu orci, nec congue diam porta a. </p>

            <a routerLink="/api/catalogue" class="readMoreBrown" i18n>View Catalogue</a>

            <a routerLink="/api/catalogue"  class="readMoreBrown" i18n>View Documentation</a>

            <!-- <img src="./assets/images/blobs/blob2.svg" alt="" class="background"> -->

        </article>

        <figure class="half fr">
            <img src="./assets/images/api/sendmoney.svg" alt="" class="imageHighlight">
        </figure>

    </section>
    

</section>


<section class="centerAligner">

    <section class="apiListing">
        
        <article>

            <h2 i18n>View some of our featured API's</h2>

            <p i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at elementum mauris. Aliquam sem risus, scelerisque ac mattis at, varius quis velit. Proin accumsan arcu orci, nec congue diam porta a. Nunc congue condimentum ligula, non auctor dolor rhoncus eu. Fusce nunc odio, aliquet non tempor nec, suscipit sit amet arcu.</p>

            <p i18n> Nullam efficitur posuere justo, hendrerit porta sapien sodales quis. In ultrices bibendum magna, mollis pharetra mi luctus ut. Nulla iaculis nisi eu ipsum bibendum, vitae blandit ex pharetra. Quisque non nunc sit amet dui mattis vestibulum. Vestibulum euismod ante at erat luctus faucibus. Praesent pharetra arcu et ex efficitur, et posuere ante aliquam. Nunc ornare ultricies feugiat. Maecenas sed placerat augue. Etiam ac suscipit nibh.</p>

            <p i18n>Nam et lacus lacinia odio posuere ultrices id id arcu. Nunc non laoreet purus, sit amet pulvinar elit. Mauris condimentum convallis risus, vel convallis diam rhoncus convallis. Morbi finibus blandit quam, et laoreet risus. Nam velit odio, vehicula et fringilla eu, dictum quis sapien. Suspendisse id elit tincidunt, facilisis turpis non, fringilla lacus. Quisque at rhoncus dui. Sed dignissim, lacus at interdum rutrum, leo lacus malesuada nulla, ut blandit magna neque ut nibh. Nulla vel nisi vel felis lacinia pulvinar. Maecenas nec scelerisque quam.</p>

        </article>

        <section class="apiGrid">

            <!-- Processing Indicator -->
            <app-processor
                [diameter]="100"
                [strokeWidth]="3"
                processingText="Fetching Products"
                *ngIf="loading"
            >
            </app-processor>
            <!-- End Processing Indicator -->
            
            <!-- API Listing Grid
                0. Check that the listing array is greater than 0
                1. Loop through api response
                2. Pass item values into api listing compoent as inputs
            -->
            <ng-container *ngIf="apiListing.length > 0 && !loading">
                
                <!-- Single Api Listing Component -->
                <app-listing
                    *ngFor="let apiItem of $any(apiListing | slice:0:3)"
                    description="{{apiItem.description}}"
                    image="{{apiItem.image}}"
                    title="{{apiItem.title}}"
                    trialdetails="{{apiItem.trialdetails}}"
                    routerLink="{{apiItem.routerLink}}"
                    stylingClass="one_third"
                    pricing="{{apiItem.pricing}}"
                    

                ></app-listing>
                <!-- End Single Api Listing Component -->

            </ng-container>
            <!-- API Listing Grid -->


        </section>

        <section class="row">

            <a routerLink="/api/catalogue"  class="readMoreBrown" i18n>
                View Full Catalogue
            </a>

            <a routerLink="/api/catalogue"  class="readMoreBrown" i18n>
                View Documentation
            </a>

            <a routerLink="/auth/createaccount"  class="readMoreBrown" i18n>
                Register Account
            </a>
        </section>

    </section>

</section>

<section class="breaker">
    
    <section class="centerAligner">

        <figure class="fl half highlightImage">
            
            <img src="./assets/images/api/recievepayment.svg" alt="">

        </figure>

        <article class="fr half ">

            <img src="./assets/images/blobs/blob2.svg" alt="" class="blob">

            <h4 i18n>Versatility & Scale</h4>

            <p i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at elementum mauris. Vivamus at elementum mauris.</p>

        </article>

    </section>

</section>

<section class="centerAligner">

    <section class="cardHighlights">

        <article>

            <h2 i18n>New API Virtual Card now in BETA phase</h2>

            <p i18n>Nam et lacus lacinia odio posuere ultrices id id arcu. Nunc non laoreet purus, sit amet pulvinar elit. Mauris condimentum convallis risus, vel convallis diam rhoncus convallis. Morbi finibus blandit quam, et laoreet risus. Nam velit odio, vehicula et fringilla eu, dictum quis sapien. Suspendisse id elit tincidunt, facilisis turpis non, fringilla lacus. Quisque at rhoncus dui. Sed dignissim, lacus at interdum rutrum, leo lacus malesuada nulla, ut blandit magna neque ut nibh. Nulla vel nisi vel felis lacinia pulvinar. Maecenas nec scelerisque quam.</p>

            <p i18n>Nam et lacus lacinia odio posuere ultrices id id arcu. Nunc non laoreet purus, sit amet pulvinar elit. Mauris condimentum convallis risus, vel convallis diam rhoncus convallis. Morbi finibus blandit quam, et laoreet risus. Nam velit odio, vehicula et fringilla eu, dictum quis sapien. Suspendisse id elit tincidunt, facilisis turpis non, fringilla lacus. Quisque at rhoncus dui. Sed dignissim, lacus at interdum rutrum, leo lacus malesuada nulla, ut blandit magna neque ut nibh. Nulla vel nisi vel felis lacinia pulvinar. Maecenas nec scelerisque quam.</p>

        </article>

        <section class="cardGrid">

            <app-debitcard
                accountNumber="05512345678"
                accountType="Current Savings"
                [balance]=35000
                cardType="Visa"
                ></app-debitcard>

            <app-debitcard
                accountNumber="17512345678"
                accountType="Entity Current"
                [balance]=43332
                cardType="MasterCard"
                ></app-debitcard>

            <app-debitcard
                accountNumber="01512345678"
                accountType="Equity Jijenge"
                [balance]=677767
                cardType="Equity"
                ></app-debitcard>

            <app-debitcard
                accountNumber="01512345678"
                accountType="Equity Jijenge"
                [balance]=677767
                cardType="Equity"
                ></app-debitcard>


        </section>
        
        

    </section>

</section>
