<section class="two_third equitybrowntexture">

    <article>

        <figure class="whiteLogo">
            <img src="./assets/images/header/equitylogowhite.png" alt="">
        </figure>
    
        <h1>Welcome to Equity API Market Place</h1>
    
        <p>More than just banking</p>

    </article>



</section>

<section class="one_third formContainer">

    <form action="" [formGroup]="loginForm" class="loginForm">

        <fieldset>

            <h4>Hello there </h4>

            <p>Sign in to continue. Remember, your password is yours, do not share it with anyone.</p>

            <div class="row">

                <label 
                    for="" 
                    i18n>
                    Email address or username
                </label>

                <input 
                    class="outlineBottom"
                    name="userName"
                    id="userName"
                    formControlName="userName"
                    type="text" 
                    placeholder="Enter your email address or username"
                    >

                <!-- <label for="" class="error" *ngIf="loginForm.userName.valid"></label> -->
            </div>

            <div class="row">

                <label 
                    for="" 
                    i18n>Password or PIN
                </label>

                <input 
                    class="outlineBottom"
                    formControlName="password"
                    type="password" 
                    placeholder="Enter your password or PIN"
                    >

            </div>

            <figure class="row">
                <a href="">Forgot Password? Click here to reset</a>
            </figure>

            <div class="row">

                <button 
                    type="submit"
                    [disabled]="!loginForm.valid"
                    [ngClass]="!loginForm.valid ? 'disabled' : ''"
                    (click)="onLoginSubmit($event)"
                    class="readMoreBrown"
                    i18n>Sign In</button>

                <button 
                    type="reset"
                    class="readMoreWhite "
                    i18n>Reset</button>
            </div>

            <!-- <pre>
                {{loginForm.getRawValue() | json}}
            </pre> -->

        </fieldset>
    </form>
</section>
