<header>
    
    <nav class="headerNavigation">

        <!-- Main Logo Section -->
        <figure class="mainIcon">
            <img src="./assets/images/header/logo.png" alt="">
        </figure>
        <!-- End Main Logo Section -->
    
        
        <!-- Dynamic Navigation -->
    
        <app-dynamicnavigation
            [navigationItems]="navigation"
            [permissionList]="permissions"
            layout="horizontal"
        >
    
        </app-dynamicnavigation>
        
        <!-- End Dynamic Navigation -->

        <section class="AuthButtons fr" *ngIf="!userAuthenticated">
            <a routerLink="/auth" class="readMoreBrown">Login</a>
            <a routerLink="/auth" class="readMoreWhite">Sign Up</a>
        </section>

        <section class="signoutButton fr" *ngIf="userAuthenticated">
            <a routerLink="/auth" class="readMoreBrown">Logout</a>
        </section>
        
    </nav>

</header>




