<header>
    
    <nav class="headerNavigation">

        <!-- Main Logo Section -->
        <figure class="mainIcon">
            <img src="./assets/images/header/logo.png" alt="">
        </figure>
        <!-- End Main Logo Section -->
    
        
        <!-- Dynamic Navigation -->
    
        <app-dynamicnavigation
            [navigationItems]="navigation"
            [permissionList]="permissions"
            layout="horizontal"
        >
    
        </app-dynamicnavigation>
        
        <!-- End Dynamic Navigation -->
        
    </nav>

</header>




