<section class="centerAligner">

    <p>settings works!</p>

    <mat-tab-group dynamicHeight>
        <mat-tab label="My Details">

           <h3>Personal Details</h3>  

           <form>

            <fieldset>

                <div class="row">

                    <div class="one_third">
                        <label for="">Full name</label>
                        <input type="text" class="outlineBottom">
                    </div>

                    <div class="one_third">
                        <label for="">Email Address</label>
                        <input type="text" class="outlineBottom">
                    </div>

                    <div class="one_third">

                        <label for="">Phone Number</label>
                        <input type="text" class="outlineBottom">

                    </div>
                    
                </div>
            </fieldset>

           </form>


           <h3>Contact Details</h3>

           <form>

            
           </form>


        
        </mat-tab>
        <mat-tab label="Billing"> 
            
            Content 2 
        
        </mat-tab>
        
    </mat-tab-group>

</section>


