<section class="two_third equitybrowntexture">

    <figure class="whiteLogo"></figure>

    <h1>Welcome to Equity API Market Place</h1>

    <p>More than just banking</p>


</section>

<section class="one_third formContainer">

    <form action="" >

        <fieldset>

            <div class="row">
                <label for="" i18n>User Name</label>
                <input type="text">
            </div>

            <div class="row">

                <label for="" i18n>Password</label>
                <input type="password">

            </div>

            <div class="row">

                <button 
                    type="submit"
                    i18n>Login</button>
            </div>

            <pre>
                <!-- {{loginForm.getRawValue() | json}} -->
            </pre>

        </fieldset>
    </form>
</section>
