<section class="two_third equitybrowntexture">

    <article>

        <figure class="whiteLogo">
            <img src="./assets/images/header/equitylogowhite.png" alt="">
        </figure>

        <h1 i18n>Welcome to Equity API Market Place</h1>

        <p i18n>To create your account, please provide the following fields to create an account on our system</p>

    </article>

</section>

<section class="one_third formContainer">

    

    <form action="" >

        <fieldset>

            <h4 i18n>Create your profile</h4>

            <div class="row">
                <label for="" i18n>Your Name</label>
                <input 
                    type="text"
                    class="outlineBottom">
            </div>

            <div class="row">

                <label for="" i18n>Id Number</label>
                <input 
                    type="text"
                    class="outlineBottom">

            </div>

            <div class="row">

                <label for="" i18n>Id Number</label>
                <input 
                    type="text"
                    class="outlineBottom">

            </div>

            <div class="row">

                <button 
                    type="submit"
                    class="readMoreBrown"
                    i18n>Register</button>
            </div>

            <pre>
                <!-- {{loginForm.getRawValue() | json}} -->
            </pre>

        </fieldset>
    </form>
</section>
