<section class="two_third equitybrowntexture">

    <article>

        <figure class="whiteLogo">
            <img src="./assets/images/header/equitylogowhite.png" alt="">
        </figure>

        <h1 i18n>Account creation page</h1>

        <p i18n>To create your account, please provide the following fields to create an account on our system</p>

    </article>

</section>

<section class="one_third formContainer">

    <article class="success" *ngIf="accountCreated">

        <h2 i18n>Your account has been created succesfully</h2>

        <p i18n>You can now proceed to login, with your credentials by clicking link below</p>

        <a class="readMoreBrown" routerLink="/auth" i18n>Login to your account</a>

    </article>

    <form action="" [formGroup]="createCustomerForm" *ngIf="!accountCreated">

        <fieldset>

            <h4 i18n>Create your account</h4>

            <div class="row">

                <label for="" i18n>Your Name</label>
                <input 
                    type="text"
                    i18n-placeholder
                    formControlName="customerName"
                    name="customerName"
                    id="customerName"
                    placeholder="Please enter your name"
                    class="outlineBottom">

                <ng-container *ngIf="createCustomerForm.controls.customerName.invalid">

                    <span class="error" i18n *ngIf="createCustomerForm.controls.customerName?.errors?.required">** Customer Name Required</span>
                    <span class="error" i18n *ngIf="createCustomerForm.controls.customerName?.errors?.minlength">** Customer Name should be at least 4 characters</span>
    
                </ng-container>
            </div>

            

            <div class="row">

                <label for="" i18n>Username</label>
                <input 
                    type="text"
                    i18n-placeholder
                    formControlName="userName"
                    name="userName"
                    placeholder="Please enter your username"
                    class="outlineBottom">

                <ng-container *ngIf="createCustomerForm.controls.userName.invalid">

                    <span class="error" i18n *ngIf="createCustomerForm.controls.userName?.errors?.required">** User Name Required</span>
                    <span class="error" i18n *ngIf="createCustomerForm.controls.userName?.errors?.minlength">** User Name Too Short</span>
                    <span class="error" i18n *ngIf="createCustomerForm.controls.userName?.errors?.maxlength">** User Name Too Long</span>
    
                </ng-container>

            </div>

            <div class="row">

                <label for="" i18n>Your Email</label>
                <input 
                    type="email"
                    i18n-placeholder
                    formControlName="emailAddress"
                    name="emailAddress"
                    placeholder="Please enter your email address"
                    class="outlineBottom">

                <ng-container *ngIf="createCustomerForm.controls.emailAddress.invalid">

                    <span class="error" i18n *ngIf="createCustomerForm.controls.emailAddress?.errors?.required">** Email Required</span>
                    <span class="error" i18n *ngIf="createCustomerForm.controls.emailAddress?.errors?.email">** Email format invalid</span>
    
                </ng-container>

            </div>

            

            <div class="row">

                <label for="" i18n>Phone Number</label>
                <input 
                    type="text"
                    i18n-placeholder
                    formControlName="phoneNumber"
                    name="phoneNumber"
                    placeholder="Please enter your phone number"
                    class="outlineBottom">

                <ng-container *ngIf="createCustomerForm.controls.phoneNumber.invalid">

                    <span class="error" i18n *ngIf="createCustomerForm.controls.phoneNumber?.errors?.required">** Phone Number Required</span>
                    <span class="error" i18n *ngIf="createCustomerForm.controls.phoneNumber?.errors?.pattern">** Phone Number format invalid</span>
                </ng-container>

            </div>

            <div class="row">
                
                <label for="" i18n>Password</label>
                <input 
                    type="text"
                    i18n-placeholder
                    formControlName="password"
                    name="password"
                    placeholder="Password should be at least 8 characters"
                    class="outlineBottom">

                <ng-container *ngIf="createCustomerForm.controls.password.invalid">

                    <span class="error" i18n *ngIf="createCustomerForm.controls.password?.errors?.required">** Password requried</span>
                    <span class="error" i18n *ngIf="createCustomerForm.controls.password?.errors?.minlength">** Password strength too weak</span>
                
                </ng-container>

            </div>

            <!-- <div class="row">

                <label for="" i18n>Confirm Password</label>
                <input 
                    type="text"
                    class="outlineBottom">

            </div> -->

            <!-- <pre>
                {{createCustomerForm.getRawValue() | json}}
            </pre> -->

            <div class="row" *ngIf="!loading">

                <button 
                    type="submit"
                    class="readMoreBrown"
                    (click)="createAccountSubmit($event)"
                    [ngClass]="createCustomerForm.invalid ? 'disabled' : '' "
                    [disabled]="createCustomerForm.invalid"
                    i18n>Create Account</button>

                <button 
                    type="reset"
                    class="readMoreWhite"
                    
                    i18n>Reset Form</button>
            </div>

            <div class="row center" *ngIf="loading">
                <app-processor
                    [diameter]="100"
                    processingText="Creating account"
                    i18n-processingText
                ></app-processor>
            </div>

            <pre>
                <!-- {{loginForm.getRawValue() | json}} -->
            </pre>

        </fieldset>

        

    </form>
</section>
