<aside class="sidebar">

    <figure class="menuOpener">

    </figure>
    <figure class="mainIcon">
        <img src="./assets/images/header/logo.png" alt="">
    </figure>

    

    <!-- Main Navigation -->
    <nav>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="current" i18n>
                    Home
                </a>
            </li>
            <li><a routerLink="/api/catalogue" routerLinkActive="current" i18n>API Catalogue</a></li>
            <li><a routerLink="/api/catalogue" routerLinkActive="current" i18n>My Usage</a></li>
            <li><a routerLink="/api/catalogue" routerLinkActive="current" i18n>Key Management</a></li>
            
        </ul>

       
    </nav>

    <!-- Configuration Navigation -->
    <nav>
        <ul>
            <li><a routerLink="/settings" i18n>Settings</a></li>
            <li><a routerLink="/settings" i18n>Language</a></li>
        </ul>
    </nav>

    <!-- Configuration Navigation -->
    <nav>
        <ul>
            <li><a routerLink="/auth/logout" i18n>Signout</a></li>
            
        </ul>
    </nav>

</aside>
