@import './src/styles.scss';

.apiListing{

    // border:1px solid #a32a29 #dfdfdf;
    border:1px solid #dfdfdf;
    background: #ffffff;
    width:30%;
    margin-right: 2%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding:2%;
    margin-bottom:2%;
    @include borderRadius(10px);
    @include createBoxShadow(3px,4px,5px,-2px,rgba(0,0,0,0.15));

    img{
        
        width: 90%;
        margin-bottom: 15px;

    }

    h4{

        color: #a32a29 ;
        margin-bottom: 10px;


    }

    p{

        margin-bottom: 15px;
        margin-top: 10px;
        line-height: 22px;

    }

    .trialdetails,.pricing{

        display: block;
        width: 100%;
        margin-bottom: 5px;
        margin-top:5px;
        color:#a32a29;

    }

    .readMoreBrown,.readMoreWhite{

        padding:0 10px;
        
    }

}