
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$apimarketplace-primary: mat.define-palette(mat.$indigo-palette);
$apimarketplace-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$apimarketplace-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$apimarketplace-theme: mat.define-light-theme((
  color: (
    primary: $apimarketplace-primary,
    accent: $apimarketplace-accent,
    warn: $apimarketplace-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($apimarketplace-theme);

/* You can add global styles to this file, and also import other style files */

@mixin borderRadius($radius){

    border-radius:$radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    
}

@mixin createBoxShadow($horizontalDistance,$verticalDistance,$blurRadius,$spreadRadius,$shadowColor){

    box-shadow: $horizontalDistance $verticalDistance $blurRadius $spreadRadius $shadowColor;
    -webkit-box-shadow: $horizontalDistance $verticalDistance $blurRadius $spreadRadius $shadowColor;
    -moz-box-shadow: $horizontalDistance $verticalDistance $blurRadius $spreadRadius $shadowColor;
    
}

@mixin transition($duration,$property){

    transition: $property $duration;

}

html{

    direction: ltr !important;

}

body{

    // background:url('./assets/images/textures/vectorbg.png') center center no-repeat;
    font-family: 'd-dinregular';
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6,strong{

    font-family: 'd-dindin-bold';

}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

p,li,a{

    font-family: 'd-dinregular';
    font-size: 16px;
    
}

fl{
    float: left;
}

fr{
    
    float:right;

}

.full_width{
    
    width:100%;

}

.half{
    
    width:47%;
    margin-right: 2%;

}

.one_third{
    
    width:30%;
    margin-right: 2%;

}

.two_third{

    width:63%;
    margin-right: 3%;

}

.one_quarter{

    width:22%;
    margin-right: 2%;

}

.three_quarter{

    width:74%;
    margin-right: 2%;
    box-sizing: border-box;

}

.fl{
    
    float: left;

}

.fr{
    
    float: right;

}

.cb{
    
    clear: both;


}

.cr{
    clear: right;
}

.readMoreBrown{

    background: #A32A29;
    color: #ffffff;
    @include borderRadius(8px);
    text-align: center;
    display: inline-block;
    min-height: 48px;
    line-height: 48px;
    text-decoration: none;
    outline: none;
    padding:0px 25px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    @include transition(1s,all );

}

.readMoreBrown:hover{

    background:#ffffff ;
    color:  #A32A29;
    border:1px solid #A32A29;
    
}

.disabled{

    background:#cccccc;
    color: #000000;
}

.readMoreWhite{

    background: #ffffff ;
    color:  #A32A29;
    border:1px solid #A32A29;
    @include borderRadius(8px);
    text-align: center;
    display: inline-block;
    min-height: 48px;
    line-height: 48px;
    text-decoration: none;
    outline: none;
    padding:0px 25px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    @include transition(1s,all );
}

.readMoreWhite:hover{

    background:  #A32A29;
    color: #ffffff ;
    border:1px solid #A32A29;

}

.equitybrowntexture{

    background: #A32A29 url('./assets/images/textures/landingpattern.png') center center no-repeat;
    background-size: 100%;

    article{

        margin-left: 5%;
        margin-top: 5%;
        max-width: 40%;

        .whiteLogo{

            margin-bottom: 40px;

        }

        h1{

            color:#ffffff;
            font-size: 32px;
            margin-bottom: 20px;

        }

        p{

            font-size: 20px;
            color:#fff;

        }

    }

}

.centerAligner{

    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    
}

.brownStroke{

    --mdc-circular-progress-active-indicator-color: #A32A29;

}

.formContainer{

    vertical-align: middle;

    label{
        
        display: block;

    }

    .row{

        margin-bottom: 10px;

    }

    input{
        
        width:100%;
        height: 40px;

    }

    h4{

        color: #A32A29;
        margin-bottom: 20px;

    }

    p{

        line-height: 24px;
        margin-bottom: 15px;
        font-size: 16px;

    }

    label{

        display: block;
        margin-bottom: 5px;
        color: #A32A29;
        font-family: 'd-dinregular';
        font-size: 16px;
        

    }

    .outlineBottom{

        border: none;
        outline:none;
        border-bottom:1px solid #929497;
        ;

    }

    a{
        color: #A32A29;
        outline: none;
        text-decoration: none;

    }


}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

